.accordion-header {
  background-color: rgb(242, 236, 210);
  justify-content: center;
  border-radius: 2px;
}
.accordion-collapse {
  background-color: rgba(242, 236, 210, 0.805);
}
.button {
  text-align: justify;
}
.accordion-item {
  padding-bottom: 20px;
}
